
.home {
    /* width: 20vw; */
    height: 100vh;
    display: flex;
}

.one {
    width: 18%;
    height: 100%;
    background-color: #e1f9f4;
}

.two {
    width: 80%;
    height: 20vmax;
    position: relative;
    bottom: 0;

}
